<h1>Construction Jobs In Atlanta</h1>
<p>Find me in app/views/jobs/search.html.erb</p>
    <div class="job-result">
      <h2><%= @job.model.title %></h2>
      <%= @job.model.description %> <br/>
    </div>